<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <h1>Board Detail Page [[${boardDTO.bno}]]</h1>
        <hr>
        <form action="/board/modify" method="post" id="modForm">
            <input type="hidden" name="bno" th:value="${boardDTO.bno}">
            <div class="mb-3">
                <label for="t" class="form-label">title</label>
                <input type="text"
                       class="form-control" id="t" name="title" th:value="${boardDTO.title }"
                       readonly="readonly">
            </div>
            <div class="mb-3">
                <label for="w" class="form-label">writer</label>
                <input type="text"
                       class="form-control" id="w" name="writer" th:value="${boardDTO.writer }"
                       readonly="readonly"> <span class="badge text-bg-info">[[${boardDTO.regAt }]]</span>
                <br> <span class="badge text-bg-info">[[${boardDTO.modAt }]]</span>
            </div>
            <div class="mb-3">
                <label for="c" class="form-label">content</label>
                <textarea class="form-control" id="c" rows="3" name="content"
                          readonly="readonly">[[${boardDTO.content }]]</textarea>
            </div>
            <button type="button" id="listBtn" class="btn btn-info">List</button>
            <button type="button" id="modBtn" class="btn btn-primary">Modify</button>
            <a th:href="@{/board/delete(bno=${boardDTO.bno})}"><button type="button" id="delBtn" class="btn btn-danger">Delete</button></a>
        </form>
        <br>
        <hr>

    <!--/* comment line */-->
    <!--/* post */-->
    <th:block sec:authorize="isAuthenticated()">
        <div class="input-group mb-3">
            <span class="input-group-text" id="cmtWriter" >NickName</span>
            <input type="text"  id="cmtText" class="form-control" placeholder="Add Comment" aria-label="Comment" aria-describedby="basic-addon1">
            <button type="button" id="cmtAddBtn"  class="btn btn-outline-success">post</button>
        </div>
    </th:block>

    <!--/* spread */-->
    <ul class="list-group list-group-flush" id="cmtListArea">
        <li class="list-group-item">
            <div class="ms-2 me-auto">
                <div class="fw-bold">writer</div>
                Content
            </div>
            <span class="badge text-bg-primary rounded-pill">regDate</span>
        </li>
    </ul>

    <!--/* more */-->
    <br>
    <div>
        <button type="button" id="moreBtn" data-page="1" class="btn btn-dark" style="visibility: hidden">MORE +</button>
    </div>

    <!--/* Modal */-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cmtWriterMod">Writer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="cmtTextMod">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cmtModBtn" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let bnoVal = [[${boardDTO.bno}]]
        console.log(bnoVal);
    </script>

    <script th:src="@{/js/boardDetail.js}"></script>
    <script th:src="@{/js/boardComment.js}"></script>
    <script>
        spreadComment(bnoVal);
    </script>

    </div>
</div>